doctype html
html(lang="en")
  head
    title Ben Zelinski
    meta(name="description" content="")
    meta(name="keywords" content="")
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    // Bootstrap CSS
    link(href="assets/css/bootstrap.min.css" rel="stylesheet" type="text/css")    
    // Font Awesome CSS
    link(href="assets/css/icons-mind.css" rel="stylesheet" type="text/css")
    link(href="assets/css/font-awesome.min.css" rel="stylesheet" type="text/css")    
    // Include all css plugins (below), or include individual files as needed
    link(href="assets/css/magnific-popup.css" rel="stylesheet" type="text/css")
    link(href="assets/css/flexslider.css" rel="stylesheet" type="text/css")    
    // Theme CSS
    link(href="assets/css/theme.min.css" rel="stylesheet" type="text/css")
    link(href="assets/css/style.css" rel="stylesheet" type="text/css")    
    // Color Scheme CSS
    link(href="assets/css/color_red.css" rel="stylesheet" type="text/css")
  body#page-top
    // Section - Home Start
    section#home
    .home-bg-parallax.bg-gray-dark.overflow-hidden.p-0.w-100
