doctype html
html(lang="en")
  head
    title Ben Zelinski
    meta(name="description" content="")
    meta(name="keywords" content="")
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    // Bootstrap CSS
    link(href="assets/css/bootstrap.min.css" rel="stylesheet" type="text/css")    
    // Font Awesome CSS
    link(href="assets/css/icons-mind.css" rel="stylesheet" type="text/css")
    link(href="assets/css/font-awesome.min.css" rel="stylesheet" type="text/css")    
    // Include all css plugins (below), or include individual files as needed
    link(href="assets/css/magnific-popup.css" rel="stylesheet" type="text/css")
    link(href="assets/css/flexslider.css" rel="stylesheet" type="text/css")    
    // Theme CSS
    link(href="assets/css/theme.min.css" rel="stylesheet" type="text/css")
    link(href="assets/css/style.css" rel="stylesheet" type="text/css")    
    // Color Scheme CSS
    link(href="assets/css/color_red.css" rel="stylesheet" type="text/css")
  body#page-top
    // Section - Home Start
    section(id="home").home-bg-parallax.bg-gray-dark.overflow-hidden.p-0.w-100
      .bg-parallax.bg-overlay-black-5  
      .h-100.left-0.position-absolute.top-0.w-100
        .container.h-100
          .row.align-items-center.h-100.justify-content-center
            .col-lg-9.text-center
              h2.font-alt.font-w-600.letter-spacing-2.m-0.mt-3.opacity-9-5.text-uppercase.text-white.title-sm-extra-large-2.title-extra-large-4
                | Ben Zelinski
              span.d-block.font-alt.mt-2.opacity-9-5.text-white.title-sm-extra-large.title-extra-large-3 
                | Below Website Under Construction
              span.d-block.font-alt.mb-2.mt-2.opacity-9-5.text-white.text-extra-large
                | Co-Creator of Campion
              a(href="#profile").page-scroll.btn.box-shadow-wide.btn-base-color.btn-large.m-0.mt-4
                | About Me
              a(href="#contact").page-scroll.btn.box-shadow-wide.btn-base-color.btn-large.m-0.mt-4
                | Contact Me
    // Navigation Start
    nav(id="navigation").navbar.navbar-dark.navbar-expand-lg.bg-dark
      .container
        //.navbar-header
        .navbar-header.d-lg-none
          a(href="#page-top").navbar-brand.page-scroll
            | Ben Zelinski      
          button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-berg" aria-controls="navbar-berg" aria-expanded="false" aria-label="Toggle navigation")
            span.navbar-toggler-icon 
        //.navbar-collapse          
        div#navbar-berg.navbar-collapse.collapse.justify-content-center
          ul.navbar-nav
            li.nav-item
              a(href="#home").nav-link.page-scroll
                | Home
            li.nav-item
              a(href="#profile").nav-link.page-scroll
                | Profile
            li.nav-item
              a(href="#portfolio").nav-link.page-scroll
                | Portfolio
            li.nav-item
              a(href="#resume").nav-link.page-scroll
                | Resume
            li.nav-item
              a(href="#references").nav-link.page-scroll
                | References
            li.nav-item
              a(href="#git").nav-link.page-scroll
                | Git
            li.nav-item
              a(href="#knowledge").nav-link.page-scroll
                | Knowledge
            li.nav-item
              a(href="#contact").nav-link.page-scroll
                | Contact
    // Profile Start
    section#profile.bg-gray-dark-2.overflow-hidden.py-0
      .container
        .row
          div(data-mh="mh-col-profile").col-xl-7.col-profile
            .pr-lg-4
              h3.font-alt.font-w-600.letter-spacing-2.title-extra-large.text-uppercase.text-white
                | Hello, My Name is Ben Zelinski!
              p.mt-4.text-large.text-white
                | I'm a Software Engineer living in Cleveland, OH. I'm currently seeking remote employment, or to relocate for the right situation.
              span.bg-base-color.mt-4.sep-line-medium-thick
              p.mt-4.text-gray.text-large
                | I'm one of three co-creators of Campion, an edge-based, drop-in circuit breaker for distributed network services.
              p.mt-3.text-gray.text-large
                | My ability to quickly adapt and excel has given me the opportunity to explore and thrive in a wide variety of skills and industries. I've run a million-dollar Napa Valley wine program, co-founded a bakery in the heart of NYC, made wine, and been an ASE-certified mechanic.
              br
              p.mt-3.text-gray.text-large
                | Throughout these ventures, I've repeatedly been tasked with training and leading teams, as well as developing or revamping internal systems to improve efficiency and productivity. My 'casually professional' approach to leadership allows me to engage with, protect, and motivate those around me.
              br
              p.mt-3.text-gray.text-large
                | My software development philosophy is similarly people-centric. I pride myself on being a team player, which means writing code that is resilient, easy to parse and maintain, and most importantly, written with an eye towards the overall team goals.
              .row.pt-5
                .col-md-6
                  span.d-block.font-alt.letter-spacing-2.text-extra-large.text-uppercase.text-white
                    | Contact Details:
                  ul.list-unstyled.mt-2.text-gray.text-large
                    li Ben Zelinski
                    li.pt-2 bziggz@gmail.com
                    li.pt-2
                      a(href="https://github.com/bziggz" target="_blank") Github
                    li.pt-2
                      a(href="https://www.linkedin.com/in/ben-zelinski/" target="_blank") LinkedIn
                    li.pt-2
                      a(href="#page-top") www.benzelinski.com
                .col-md-6
                  a(href="#").btn.box-shadow-wide.btn-base-color.btn-large.mt-4.mt-md-5
                    | Download Resume       
          div(data-mh="mh-col-profile").col-xl-5.d-none.d-xl-block.position-relative
            img(src="assets/images/profile-picture-1.jpg" alt="").img-fluid.left-0.position-absolute.top-0.w-100
    // Portfolio Start
    section(id="portfolio").bg-gray-dark.pb-0
      .container
        .row.justify-content-center
          .col-lg-8.text-center
            h3.font-alt.font-w-600.letter-spacing-2.title-extra-large.text-uppercase.text-white
              | My Latest Work
            p.mt-3.text-gray.text-extra-large
              em 
                | Highlighted by Campion, my work demonstrates a growing familiarity with some of the most popular frameworks, languages, and cloud providers in the industry.
            span.bg-base-color.mt-4.mx-auto.sep-line-medium-thick-long     
            .container-fluid.mt-5.pt-5
              .row.gallery-grid
                .col-md-6.col-xl-3.p-0
                  figure
                    //.gallery-link
                      a(href="assets/images/project-image-1.jpg" title="Campion").icon.icon-small.bg-gray-dark.rounded-circle.text-white.zoom
                        i.icon-Full-Screen
                      a(href="https://www.behance.net/gallery/25963987/Buzz-Lightyear" target="_blank").icon.icon-small.bg-base-color.rounded-circle.text-white
                        i.icon-Link
                    //.gallery-title
                       span.font-alt.letter-spacing-2.text-medium.text-uppercase.text-white
                        | Campion
                    //.gallery-img
                      img(src="assets/images/project-image-1.jpg" alt="").img-fluid
    // ***************Footer End
    footer.bg-gray-dark
      .container
        .row.justify-content-center
          .col.text-center
            ul.m-0.p-0
              li.list-inline-item
                a(href="https://www.linkedin.com/in/ben-zelinski" target="_blank").bg-gray-2.box-shadow-wide.rounded.text-white.text-extra-large
                  i.fa.fa-linkedin.ease
              li.list-inline-item
                a(href="https://github.com/bziggz" target="_blank").bg-gray-2.box-shadow-wide.rounded.text-white.text-extra-large
                  i.fa.fa-github.ease

            p.m-0.mt-4.text-gray.text-medium &copy; Template by Nick Berg (2020). All rights reserved.   
    // Scroll to top
    a(href="#page-top").page-scroll.scroll-to-top.bg-base-color
      i.fa.fa-angle-up
    // Main JS
    script(src="assets/js/jquery.min.js")
    script(src="assets/js/popper.min.js")
    script(src="assets/js/bootstrap.min.js") 
    // Include all js plugins (below)
    script(src="assets/js/pace.min.js")
    script(src="assets/js/jquery.sticky.js")
    script(src="assets/js/jquery.easing.min.js")
    script(src="assets/js/jquery.matchHeight.min.js")
    script(src="assets/js/jquery.inview.min.js")
    script(src="assets/js/jquery.countTo.js")
    script(src="assets/js/imagesloaded.pkgd.min.js")
    script(src="assets/js/jquery.magnific-popup.min.js")
    script(src="assets/js/jquery.flexslider.min.js")
    script(src="assets/js/jquery.validate.min.js") 
    // BG Parallax
    script(src="assets/js/lib/greensock/TweenMax.min.js")
    script(src="assets/js/ScrollMagic.min.js")
    script(src="assets/js/animation.gsap.min.js") 
    // Theme JS
    script(src="assets/js/theme.js")