@import "reset.css";

/*******************
  General
******************/

@keyframes MoveUpDown {
  0% {
    bottom: 50px;
  }
  50% {
    bottom: 65px;
  }
  100% {
    bottom: 50px;
  }
}

body {
  font: normal 15px/150% "Fira Mono", Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  z-index: -3;
  position: relative;
  color: #fff;
  height: 100vh;
}

.fixed {
  position: fixed;
  top: 60px;
  left: 0;
  width: 100%;
}

.upside-down {
  transform: scaleY(-1);
}

.gradient-hover {
  background: #fff;
  transition: background-color 0.5s ease;
  border-bottom: 1px solid #000;
  padding: 0 5px;
}

.gradient-hover:hover {
  background: #000;
}

.gradient-hover a {
  color: #000;
}

.gradient-hover a:hover {
  color: #fff;
}

.center {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 50px;
}

.move {
  animation: MoveUpDown 2s linear infinite;
}

a {
  text-decoration: none;
}

/*******************
  Header
******************/

header {
  background-color: #000000;
  overflow: hidden;
  width: 100%;
  box-sizing: border-box;
  padding: 20px 20px 16px 28px;
  position: fixed;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  transition: background-color 0.5s ease;
}

header .icon {
  visibility: hidden;
  margin-top: 6px;
}

header .icon.show {
  visibility: visible;
}

header .icon a {
  display: block;
  width: 100%;
  height: 100%;
}

header .icon img {
  width: 100%;
}

header .blog {
  display: flex;
  width: 50%;
  justify-content: space-around;
}

header .blog a {
  color: #fff;
}

header .blog a img {
  height: auto;
  width: 1.6em;
}

/*******************
  Landing Page
******************/

#homepage {
  width: 100%;
  position: relative;
  padding: 0;
  margin: 0;

}

#homepage .info {
  padding: 0 20px;
  position: relative;
  z-index: 20;
  width: 50%;
  margin: auto;
}

#homepage .info h1 {
  font-size: 25px;
  line-height: 150%;
  font-weight: 100;
  padding-bottom: 10px;
  padding-top: 20vh;
}

#homepage .info p {
  margin-bottom: 12px;
}

#homepage .info p a {
  padding: 0 5px;
  color: #fff;
  text-decoration: underline;
}

.emphasize {
  text-shadow: 2px 2px 10px #000; 
}

.italic {
  font: italic 25px/250% "Fira Sans", Helvetica, sans-serif;
}

#homepage .info span + span:hover {
  background-color: white;
  color: #000000;
}

#homepage .info p span + span a {
  border-bottom: 1px solid #ccc;
}

/*******************
  particles.js container
******************/

#particles-js {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(black, #301700, #8a4000, #ff7700);
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

/*******************
  Arrow
******************/

.arrow {
  width: 40px;
  height: 30px;
  text-indent: -9999px;
}

.arrow .white-arrow,
.arrow .black-arrow {
  width: 200%;
  height: 200%;
  border: none;
}

.arrow .white-arrow {
  display: block;
  background: url("../images/down-arrow-white.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.arrow .black-arrow {
  display: block;
  background: url("../images/down-arrow-black.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

/*******************
  Main Content
******************/

.sectional {
  display: flex;
  justify-content: space-between;
  flex-direction: column-reverse;
  margin-bottom: 20px;
}

.sectional .gradient-hover {
  border-bottom: none;
  vertical-align: middle;
}

main {
  position: absolute;
  top: 100vh;
  background-color: #fff;
  width: 100vw;
  box-sizing: border-box;
  padding: 72px 30px 30px;
  color: #000;
  z-index: 30;
  -webkit-transition: -webkit-transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out;
  overflow: hidden;
}

main figure {
  text-align: left;
  margin-top: 8em;
}

main img {
  width: 100%;
  border-radius: 20px;
}

main a img {
  width: 3em;
  border-radius: 0px;
}

main h2 {
  font-size: 25px;
  padding-bottom: 20px;
}

main h3 {
  font-size: 22px;
  font-weight: bold;
}

main p {
  font-size: 16px;
  line-height: 150%;
  margin-bottom: 10px;
}

main a,
main li {
  color: #000;
  font-size: 16px;
}

main li,
main h3 {
  margin-bottom: 15px;
}

main ul {
  padding-bottom: 20px;
}

main .footer,
main .footer a {
  font-size: 10px;
}

.campion-button {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ff7700), color-stop(1, #ff4f0a) );
	background:-moz-linear-gradient( center top, #ff7700 5%, #ff4f0a 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff7700', endColorstr='#ff4f0a');
	background-color:#ff7700;
	-webkit-border-top-left-radius:15px;
	-moz-border-radius-topleft:15px;
	border-top-left-radius:15px;
	-webkit-border-top-right-radius:15px;
	-moz-border-radius-topright:15px;
	border-top-right-radius:15px;
	-webkit-border-bottom-right-radius:15px;
	-moz-border-radius-bottomright:15px;
	border-bottom-right-radius:15px;
	-webkit-border-bottom-left-radius:15px;
	-moz-border-radius-bottomleft:15px;
	border-bottom-left-radius:15px;
text-indent:0;
	border:1px solid #d6bcd6;
	display:inline-block;
	color:#ffffff;
	font-family: "Fira Mono";
	font-size:1.25em;
	font-weight:normal;
	font-style:normal;
  height:50px;
	line-height:50px;
  width:100%;
	text-decoration:none;
	text-align:center;
	text-shadow:0px 1px 0px #43494d;
}.campion-button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ff4f0a), color-stop(1, #ff7700) );
	background:-moz-linear-gradient( center top, #ff4f0a 5%, #ff7700 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff4f0a', endColorstr='#ff7700');
	background-color:#ff4f0a;
}.campion-button:active {
	position:relative;
	top:1px;
}

.about {
  margin-top: 3em;
}

.about figure {
  max-width: 500px;
}

.max figure {
  max-width: 550px;
}

.frame-container {
  position: relative;
  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%;
  width: 100%;
}

.frame-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.text {
  padding-top: 15px;
}

.section-logo {
  width: 7em;
  border-radius: 0px;
}

.campion-link {
  text-align: center;
}

/*******************
  Stack Table
*******************/

.stack-table {
  margin-top: 10px;
  margin-bottom: 50px;
  text-align: center
}

.stack-table thead td {
  font-size: 1.25em;
  font-style: italic;
  padding: 20px 0px;
}

.stack-table tbody td {
  padding: 0px 5px 25px 5px;
}

td {
  font-size: .75em;
  vertical-align: top;
}


/*******************
  Footer
******************/

footer {
  font-size: 10px;
}

/*******************
  Media Queries
******************/

@media (min-width: 375px) {
  body {
    font-size: 18px;
  }

  #homepage {
    top: -30px;
  }

  #homepage .info {
    width: 75%;
    line-height: 1.3em;
    text-align: center;
  }

  #homepage .info h1 {
    font-size: 32px;
    margin-bottom: .5em;
    padding-top: 15vh;
  }

  .project figure {
    margin-top: 0px;
  }

  .about figure {
    margin: 1em;
  }

  .campion-button {
    font-size: 1em;
  }

  .arrow {
    display: none;
  }

  .scroll {
    display: block;
    padding-top: 20px;
    font-size: 0.85em;
  }

  .fixed {
    top: 15px;
  }

  header .blog {
    font-size: 0.85em;
  }
}

@media (min-width: 500px) {
  body {
    font-size: 20px;
    line-height: 160%;
  }

  #homepage .info h1 {
    font-size: 36px;
  }

  #homepage .info p {
    margin-bottom: 20px;
  }

  .arrow {
    display: block;
  }

  .scroll {
    display: none;
  }

  header .blog {
    font-size: 0.85em;
  }
}

@media (min-width: 671px) {
  /*******************
    General
  ******************/

  .wait-cursor {
    cursor: wait;
  }

  .indicator:after {
    content: "\27F6";
    display: inline-block;
    margin-left: 10px;
  }

  .clearfix:after {
    content: " "; /* Older browser do not support empty content */
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
  }

  /*******************
    Main
  ******************/

  header {
    display: flex;
    justify-content: space-between;
  }

  header a {
    margin-right: 1em;
  }

  header,
  main {
    padding-left: 10vw;
    padding-right: 10vw;
  }

  #homepage {
    margin: 0;
  }

  #homepage .info {
    max-width: 100%;
    margin: 0 10vw 0 10vw;
    justify-content: center;
    text-align: left;
  }

  #homepage .info p a {
    border-bottom: 1px solid #ccc;
    text-decoration: none;
  }

  #homepage .info a:hover {
    color: #0f062f;
  }

  #homepage .info h1 {
    padding-bottom: 5%;
  }


  .white-back:hover {
    background-color: #fff;
  }

  .scroll {
    display: none;
  }
  /*******************
    Main Overlay
  ******************/

  main h2,
  main h3 {
    margin-bottom: 10px;
    font-family: "Fira Mono", Helvetica, sans-serif;
  }

  .sectional {
    flex-direction: row;
  }

  main article {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
  }

  main figure {
    margin-left: 20px;
    font-size: 20px;
  }

  main p {
    max-width: 460px;
    font-size: 18px;
    line-height: 160%;
    margin-bottom: 20px;
  }

  main ul li {
    margin-bottom: 10px;
  }

  .project figure {
    margin-top: 10em;
  }
}

@media (max-width: 670px) {
  span:first-child .hover-effect:hover {
    -webkit-text-fill-color: white !important;
  }

  header .blog {
    width: 100%;
  }
}

@media (min-width: 1441px) {
  body {
    font-size: 1.5em;
  }

  header .blog {
    margin-top: 25px;
  }

  header .icon {
    margin-top: 20px;
  }

  #homepage .info {
    max-width: 1100px;
    padding-top: 100px;
  }

  #homepage .info h1 {
    font-size: 1.8em;
  }

  .italic {
    font-size: 1em;
  }

  .arrow .white-arrow,
  .arrow {
    width: 80px;
    height: 80px;
  }

  main {
    padding-top: 170px;
  }

  main h2,
  main h3 {
    font-size: 1.2em;
  }

  main p,
  main a,
  main li {
    font-size: 0.9em;
  }

  main p {
    max-width: 960px;
  }

  main figure {
    max-width: 720px;
  }

  .project figure {
    margin-top: 12em;
  }

  .campion-button {
    font-size: 1em;
  }
}
